FormGroup
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>
      First Name:
      <input
        type="text"
        formControlName="firstName"
        required
        class="form-control"
      />
    </label>
  </div>
  <label> Last Name: <input type="text" formControlName="lastName" /> </label>

  <div formGroupName="address">
    <h3>Address</h3>
    <div>
      <label> Street: <input type="text" formControlName="street" /> </label>
    </div>
    <div>
      <label> City: <input type="text" formControlName="city" /> </label>
    </div>
    <div>
      <label> State: <input type="text" formControlName="state" /> </label>
    </div>
    <div>
      <label> Zip Code: <input type="text" formControlName="zip" /> </label>
    </div>
  </div>
  <div formArrayName="aliases">
    <h3>Aliases</h3>
    <button (click)="addAlias()">Add Alias</button>

    <div *ngFor="let address of aliases.controls; let i = index">
      <!-- The repeated alias template -->
      <label> Alias: <input type="text" [formControlName]="i" /> </label>
    </div>
  </div>
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>

  <p><button (click)="updateProfile()">Update Profile</button></p>

  <p>Form Status: {{ profileForm.status | json }}</p>

  <p>Form Value : {{ profileForm.value | json }}</p>
</form>
